// resets
body { margin: 0; padding: 0;}
img {width: 100%; height: auto; display: block;}
ul {margin: 0; padding: 0; list-style-type: none;}
p {margin: 0; padding: 0}

// wrapper
.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

// typography
h2 {
  padding: 100px 0;
  color: $primary-text;
  color: $secondary-accent;
  text-decoration: 2px underline $primary-accent;
}

p {
  color: $secondary-accent;
}

// social media icons
.fa-brands,
.fa-solid {
  color: $secondary-accent;
  font-size: 4rem;
}

// buttons
button {
  padding: 13px 40px 10px 40px;
  border: 1px solid $secondary-accent;
  border-radius: 5px;
  background-color: $primary;
  color: $secondary-accent;
  font-family: $heading-font;
  font-size: 2rem;
  transition: all 0.2s;

  &:hover,
  &:focus {
    background-color: $primary-accent;
    border: 1px solid $primary-accent;
    color: $primary;
    cursor: pointer;
    transition: all 0.2s;
  }

  &:active {
    background-color: $primary;
    color: $secondary-accent;
  }
}

// forms
input, textarea {
  border: none;
  background-color: $secondary-accent;
  width: 100%;
  font-family: $body-font;
  color: $primary;
  font-size: 2rem;
  line-height: 2rem;
  margin: 20px 0;
  padding: 10px;

  &:hover,
  &:focus {
    outline: 5px solid $primary-accent;
  }
}
