// resets
body { margin: 0; padding: 0;}
img {width: 100%; height: auto; display: block;}
ul {margin: 0; padding: 0; list-style-type: none;}
p {margin: 0; padding: 0}

// wrapper
.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

// social media icons
.fa-brands,
.fa-solid {
  color: $primary-text;
  font-size: 4rem;
}

// buttons
button {
  padding: 13px 40px 10px 40px;
  border: 1px solid $secondary-accent;
  border-radius: 5px;
  background-color: $primary;
  color: $primary-text;
  font-family: $heading-font;
  font-size: 2rem;

  &:hover,
  &:focus {
    background-color: $secondary-accent;
    color: $primary;
  }

  &:active {
    background-color: $primary;
    color: $secondary-accent;
  }
}

// forms

