// *******************
//      TABLETS
// *******************
@media (max-width: 1024px) {

// overflow issue fix on mobile
  html, body {
    overflow-x: hidden;
  }

// ***** Header *****
// ******************
  header {
    .header-flex {
      align-items: flex-end;

      .header-left-box {
        text-align: center;
        width: 100%;
        background-color: $primary;
        border-radius: 20px;
        margin-bottom: 70px;

        h1 {
          color: $secondary-accent;
        }

        .job-title {
          width: 100%;
          font-size: 3rem;
          border: 3px solid $primary;
          border-radius: 20px;
          background-color: $secondary-accent;
          color: $primary;
        }
      }
    }
  }
// ***** About  *****
// ******************
  .about-flex {
    width: 100%;

    .about-right-box {
      .signature {
        img {
          width: 50%;
        }
      }
    }
  }

// **** Projects ****
// ******************
  .projects-flex {
    width: 100%;
  }
}

// *******************
//     LARGE MOBILE
// *******************
@media (max-width: 768px) {
  // burger menu for mobile pops out
  .burger-menu-slide {
    display: block;
  }

  // hiding regular nav menu
  .nav-bar {
    display: none;
  }

  // extending all wrappers
  .wrapper {
    width: 95%;
  }

// ***** Header *****
// ******************
  header {
    .header-flex {
      .header-left-box {
        margin-bottom: 150px;

        h1 {
          font-size: 5rem;
        }

        .job-title {
          font-size: 2.5rem;
          padding: 5px 0;
        }
    
      }
    }
  }

// ***** About  *****
// ******************
  .about {
    h2 {
      font-size: 7rem;
    }
  }
  .about-flex {
    flex-direction: column;

    .about-left-box {
      width: 100%;
      flex-direction: row;
      margin-bottom: 30px;
    }

    .about-right-box {
      width: 100%;
      padding: 10px;

      .bio-button {

        button {
          width: 100%;
        }
      }
    }
  }

// ***** Skills *****
// ******************
  .skills {
    .wrapper {
      padding-bottom: 80px;
    }

    h2 {
      font-size: 7rem;
    }
  }

// **** Projects ****
// ******************
  .projects {
    h2 {
      padding-top: 80px;
      font-size: 7rem;
    }

    .projects-flex {
      width: 100%;

      .projects-bottom-box {
        .projects-box {
          flex-direction: column;
          margin-bottom: 0;
          
          a {
            width: 100%;
          }

          .projects-box-text {
            padding: 30px 0 0 0;
            text-align: center;
            width: 100%;
          }
        }
      }
    }
  }

// **** Contact *****
// ******************
  .contact {
    h2 {
      font-size: 7rem;
      padding-top: 80px;
    }
  }

  .contact-flex {
    width: 100%;
    flex-direction: column;

    .contact-info-flex {
      width: 100%;
      justify-content: space-between;
      text-align: center;
      align-items: center;

      a {
        p {
          padding: 10px;
        }
      }

      li {
        width: 80%;
      }
    }

    button {
      width: 100%;
      margin: 20px 0;
    }
  }
}


// *******************
//     SMALL MOBILE
// *******************
@media (max-width: 450px) {
// ***** Header *****
// ******************
  header {
    .burger-menu-slide {
      label {
        i {
          margin-bottom: 0;
        }
      }
    }

    .header-flex {
      align-items: flex-end;

      .header-left-box {
        h1 {
          font-size: 2rem;
        }

        .job-title {
          font-size: 1.6rem;
        }
      }
    }
  }

// ***** About  *****
// ******************
  .about {
    h2 {
      margin: 20px 0;
      font-size: 5rem;
      padding-top: 30px;
    }

    .about-flex {
      .about-right-box {
        padding-bottom: 0;
      }
    }
  }

  .about-flex .about-right-box .signature {
    margin-bottom: 0;

    img {
      width: 50%;
      margin-bottom: 20px;
    }
  }

// ***** Skills *****
// ******************
  .skills {
    .wrapper {
      padding-bottom: 40px;
    }

    h2 {
      margin: 10px 0;
      font-size: 5rem;
      padding: 40px 0 30px 0;
    }
  }

// **** Projects ****
// ******************
.projects {
  h2 {
    font-size: 5rem;
    padding: 40px 0 30px 0;
  }
}

.projects .projects-flex .projects-bottom-box {
  margin-bottom: 30px;
}
// **** Contact *****
// ******************
  .contact {
    h2 {
      font-size: 5rem;
      padding: 40px 0 30px 0;
    }
  }

}