// *******************
//  ABOUT ME & SKILLS
// *******************
.about {
  h2 {
    margin: 100px 0 50px 0;
    color: $primary-text;
  }
}

.about-flex,
.skills-flex {
  display: flex;
  margin: 0 auto;
  width: 80%;

  .about-left-box,
  .skills-left-box {
    width: 20%;
    text-align: center;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $secondary-accent;
    border-radius: 20px;

    .about-box,
    .skills-box {
      padding: 5px;

      &:hover,
      &:focus {
        background-color: $primary;
        cursor: pointer;

        i, p {
          color: $secondary-accent;
        }
      }
    }

    i, p {
      color: $primary;
    }

    p {
      font-weight: 700;
      padding: 10px 0 0 0;
    }
  }

  .about-right-box,
  .skills-right-box {
    width: 80%;
    padding: 0 50px 50px 50px;

    .about-bio {
      p:nth-child(3) {
        padding: 40px 0;
      }
    }

    .bold-bio,
    .bold-skills-bio {
      font-family: $heading-font;
      font-size: 2rem;
      line-height: 1.25;
      font-weight: 700;
      padding-bottom: 40px;
      color: $secondary-accent;
    }

    .signature {
      display: flex;
      margin: 30px 0;

      img {
        width: 30%;
      }
    }
  }
}
// *******************
//      ABOUT
// *******************
.about-box {
  a {
    text-decoration: none;
  }
}

.atoms {
  background-color: $secondary-accent;
  color: $primary;
  padding: 0 5px;
  margin: 0 2px;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: 1px solid $secondary-accent;
    background-color: $primary;
    color: $primary-text;
  }
}
// *******************
//      SKILLS
// *******************
.skills {
  background-color: $secondary;
  h2 {
    padding: 100px 0 50px 0;
  }

  .skills-flex {
    .skills-box {
      &:hover,
      &:focus {
        background-color: $secondary;
      }
    }
  }

  button {
    margin-top: 40px;
    background-color: $secondary;

    &:hover,
    &:focus {
      background-color: $secondary-accent;
      color: $secondary;
    }
  }
}
// *******************
//      PROJECTS
// *******************
.projects {
  background-color: $primary;

  .bold-projects-bio {
    font-family: $heading-font;
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 700;
    color: $secondary-accent;
  }

  h2 {
    padding: 100px 0 50px 0;
  }

  .projects-flex {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;

    .projects-top-box {
      display: flex;
      flex-direction: column;
    }

    .projects-bottom-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .projects-box {
        margin: 40px 0;
      }

      li {
        display: flex;

        a {
          width: 70%;

          &:hover,
          &:focus {
            outline: 5px solid $secondary-accent;
          }
        }

        .projects-box-text {
          width: 25%;
          text-align: left;
          margin: auto;

          h4 {
            font-family: $heading-font;
            color: $secondary-accent;
            font-size: 4rem;
          }
        }
      }
    }
  }
}
// *******************
//      CONTACT ME
// *******************
.contact {
  background-color: $secondary;

  h2 {
    padding: 100px 0 50px 0;
  }
}

.contact-flex {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;

  .contact-info-flex {
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  .contact-form {
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .flex-form {
    display: flex;
    flex-direction: column;
    width: 80%;

    li {
      width: 80%;

      input, textarea {
        width: 100%;
      }
    }
  }
}
