// *******************
//  ABOUT ME & SKILLS
// *******************
.about {
  h2 {
    margin: 100px 0 50px 0;
    color: $primary-text;
  }
}

.about-flex,
.skills-flex {
  display: flex;
  margin: 0 auto;
  width: 80%;

  .about-left-box,
  .skills-left-box {
    width: 20%;
    text-align: center;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $secondary-accent;
    border-radius: 20px;

    .about-box,
    .skills-box {
      padding: 5px;

      &:hover,
      &:focus {
        background-color: $primary;
        cursor: pointer;

        i, p {
          color: $secondary-accent;
        }
      }
    }

    i, p {
      color: $primary;
    }

    p {
      font-weight: 700;
      padding: 10px 0 0 0;
    }
  }

  .about-right-box,
  .skills-right-box {
    width: 80%;
    padding: 0 50px 50px 50px;

    .about-bio {
      p:nth-child(3) {
        padding: 40px 0;
      }
    }

    .bold-bio,
    .bold-skills-bio {
      font-family: $heading-font;
      font-size: 2rem;
      line-height: 1.25;
      font-weight: 700;
      padding-bottom: 40px;
      color: $secondary-accent;
    }

    .signature {
      display: flex;
      margin: 30px 0;

      img {
        width: 30%;
      }
    }
  }
}
// *******************
//      ABOUT
// *******************
.atoms {
  background-color: $secondary-accent;
  color: $primary;
  padding: 0 5px;
  margin: 0 2px;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: 1px solid $secondary-accent;
    background-color: $primary;
    color: $primary-text;

  }
}
// *******************
//      SKILLS
// *******************
.skills {
  background-color: $secondary;
  h2 {
    padding: 150px 0 50px 0;
  }

  .skills-flex {
    .skills-box {
      &:hover,
      &:focus {
        background-color: $secondary;
      }
    }
  }

  button {
    margin-top: 40px;
    background-color: $secondary;

    &:hover,
    &:focus {
      background-color: $secondary-accent;
      color: $secondary;
    }
  }
}
// *******************
//      PROJECTS
// *******************
.projects {
  background-color: $primary;

  .projects-flex {
    display: flex;
    margin: 0 auto;
    width: 80%;

    .projects-right-box {
      display: flex;
      flex-direction: column;
      width: 20%;
    }

    .projects-left-box {
      display: flex;
      flex-direction: column;
      width: 80%;
      justify-content: space-between;

    }
  }

}
// *******************
//      CONTACT ME
// *******************
