// ***********************
// ***** DARK MODE *******
// ***********************

// primary background color (gunmetal) #222a35
// secondary background color (rich black FOGRA 29) #171e28
// primary accent color (middle blue green) #99E1D9
// secondary accent color (pale pink) #FFD9DA
// tertiary accent color (sunglow) #FFD042
// quarternary accent color (copper penny) #B2675E
// primary text color (white) #ffffff
// secondary text color (spanish gray) #92959c
// optional pallet choices (pale blue) #b9d1e4 

$primary: #222a35;
$secondary: #171e28;
$primary-accent: #99E1D9;
$secondary-accent: #FFD9DA;
$tertiary-accent: #FFD042;
$quarternary-accent: #B2675E;
$primary-text: #ececec;
$secondary-text: #92959c;

// fonts
$heading-font: "Sorts Mill Goudy";
$body-font: "Rubik";

// ***********************
// ***** LIGHT MODE ******
// ***********************

// primary background color (isabelline) #F6F5F1
// secondary background color (isabelline) #EBE6E0
// primary accent color (coral) #FF8059
// secondary accent color (beau blue) #B8D1E5
// tertiary accent color (medium sea green) #4FB477
// quarternary accent color (corn) #FBEC5D
// primary text color (charleston green) #1B2527
// secondary text color (jet) #343434

$light-primary: #F6F5F1;
$light-secondary: #EBE6E0;
$light-primary-accent: #FF8059;
$light-secondary-accent: #B8D1E5;
$light-tertiary-accent: #4FB477;
$light-quarternary-accent: #FBEC5D;
$light-primary-text:  #1B2527;
$light-secondary-text: #343434;