html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #222a35;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sorts Mill Goudy";
  font-weight: 400;
  color: #ececec;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 7rem;
  font-weight: 700;
}

h2 {
  font-size: 9rem;
}

p {
  color: #ececec;
  font-family: "Rubik";
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.fa-brands,
.fa-solid {
  color: #ececec;
  font-size: 4rem;
}

button {
  padding: 13px 40px 10px 40px;
  border: 1px solid #FFD9DA;
  border-radius: 5px;
  background-color: #222a35;
  color: #ececec;
  font-family: "Sorts Mill Goudy";
  font-size: 2rem;
}
button:hover, button:focus {
  background-color: #FFD9DA;
  color: #222a35;
  cursor: pointer;
}
button:active {
  background-color: #222a35;
  color: #FFD9DA;
}

input, textarea {
  border: none;
  background-color: #FFD9DA;
  width: 100%;
  font-family: "Rubik";
  color: #222a35;
  font-size: 2rem;
  line-height: 2rem;
  margin: 20px;
  padding: 10px;
}
input:hover, input:focus, textarea:hover, textarea:focus {
  outline: 5px solid #99E1D9;
}

.burger-menu-slide {
  display: none;
}
.burger-menu-slide label {
  cursor: pointer;
}
.burger-menu-slide label i {
  color: #222a35;
  margin: 40px 0;
}
.burger-menu-slide input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
.burger-menu-slide input[type=checkbox]:checked ~ .burger-slide-out {
  left: 0;
}
.burger-menu-slide input[type=checkbox]:focus + label {
  border: 4px solid #99E1D9;
}
.burger-menu-slide .burger-nav {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.burger-menu-slide .burger-slide-out.active {
  left: -500px;
}
.burger-menu-slide .burger-slide-out {
  position: fixed;
  top: 0;
  left: -500px;
  z-index: 20;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.burger-menu-slide .burger-slide-out .close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.burger-menu-slide .burger-slide-out button {
  color: #222a35;
  background-color: transparent;
  font-size: 4rem;
  font-family: "Sorts Mill Goudy";
  padding: 10px;
  border: 2px solid transparent;
}
.burger-menu-slide .burger-slide-out button:active .burger-menu-slide .burger-slide-out {
  left: -500px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger-slide-out {
  background-color: #FFD9DA;
  width: 310px;
  border-radius: 20px;
  border: 5px solid #222a35;
  margin: 5px 10px;
}

.burger-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.burger-nav li {
  margin: 15px;
}
.burger-nav a {
  text-decoration: none;
  font-size: 3rem;
  color: #222a35;
  font-family: "Sorts Mill Goudy";
  padding: 10px;
}
.burger-nav a:hover, .burger-nav a:focus, .burger-nav a:active {
  background-color: #99E1D9;
  border-radius: 20px;
}

.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-bar li {
  padding: 15px 0;
}
.nav-bar li:hover, .nav-bar li:focus {
  background-color: #FFD9DA;
  border-radius: 10px;
}
.nav-bar a {
  padding: 5px;
  text-decoration: none;
  color: #222a35;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Rubik";
}
.nav-bar a:focus {
  outline: 1px solid black;
}

header {
  background-image: url(../assets/images/brian-header.jpg);
  background-color: #222a35;
  max-width: 2400px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-flex p, .header-flex h1 {
  color: #222a35;
}
.header-flex .header-left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-flex .header-left-box .job-title {
  width: 80%;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 3px solid #222a35;
}
.header-flex .header-left-box p, .header-flex .header-left-box h1 {
  text-transform: uppercase;
}
.header-flex .header-left-box h1 {
  padding: 10px 0;
}

.about h2 {
  margin: 100px 0 50px 0;
  color: #ececec;
}

.about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 80%;
}
.about-flex .about-left-box {
  width: 20%;
  text-align: center;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #FFD9DA;
  border-radius: 20px;
}
.about-flex .about-left-box .about-box {
  padding: 5px;
}
.about-flex .about-left-box .about-box:hover, .about-flex .about-left-box .about-box:focus {
  background-color: #222a35;
  cursor: pointer;
}
.about-flex .about-left-box .about-box:hover i, .about-flex .about-left-box .about-box:hover p, .about-flex .about-left-box .about-box:focus i, .about-flex .about-left-box .about-box:focus p {
  color: #FFD9DA;
}
.about-flex .about-left-box i, .about-flex .about-left-box p {
  color: #222a35;
}
.about-flex .about-left-box p {
  font-weight: 700;
  padding: 10px 0 0 0;
}
.about-flex .about-right-box {
  width: 80%;
  padding: 0 50px 50px 50px;
}
.about-flex .about-right-box .about-bio p:nth-child(3) {
  padding: 40px 0;
}
.about-flex .about-right-box .bold-bio,
.about-flex .about-right-box .bold-skills-bio {
  font-family: "Sorts Mill Goudy";
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 700;
  padding-bottom: 40px;
  color: #FFD9DA;
}
.about-flex .about-right-box .signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}
.about-flex .about-right-box .signature img {
  width: 30%;
}

.about-box a {
  text-decoration: none;
}

.atoms {
  background-color: #FFD9DA;
  color: #222a35;
  padding: 0 5px;
  margin: 0 2px;
  text-decoration: none;
}
.atoms:hover, .atoms:focus {
  outline: 1px solid #FFD9DA;
  background-color: #222a35;
  color: #ececec;
}

.skills {
  background-color: #171e28;
}
.skills h2 {
  padding: 100px 0 50px 0;
}
.skills .wrapper {
  padding-bottom: 150px;
}
.skills .skills-flex {
  background-color: #FFD9DA;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.skills .skills-flex .skills-box {
  text-align: center;
  width: 30%;
  padding: 25px;
}
.skills .skills-flex .skills-box i, .skills .skills-flex .skills-box p {
  color: #222a35;
}
.skills .skills-flex .skills-box i {
  font-size: 6rem;
}
.skills .skills-flex .skills-box:hover, .skills .skills-flex .skills-box:focus {
  background-color: #99E1D9;
  border-radius: 20px;
  cursor: pointer;
}
.skills .skills-flex .skills-box:active {
  background-color: #222a35;
}
.skills .skills-flex .skills-box:active i, .skills .skills-flex .skills-box:active p {
  color: #FFD9DA;
}
.skills button {
  margin-top: 40px;
  background-color: #171e28;
}
.skills button:hover, .skills button:focus {
  background-color: #FFD9DA;
  color: #171e28;
}

.projects {
  background-color: #222a35;
}
.projects .bold-projects-bio {
  font-family: "Sorts Mill Goudy";
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 700;
  color: #FFD9DA;
}
.projects h2 {
  padding: 100px 0 50px 0;
}
.projects .projects-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 80%;
}
.projects .projects-flex .projects-top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects .projects-flex .projects-bottom-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}
.projects .projects-flex .projects-bottom-box .projects-box {
  margin: 40px 0;
}
.projects .projects-flex .projects-bottom-box li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projects .projects-flex .projects-bottom-box li a {
  width: 70%;
}
.projects .projects-flex .projects-bottom-box li a:hover, .projects .projects-flex .projects-bottom-box li a:focus {
  outline: 5px solid #FFD9DA;
}
.projects .projects-flex .projects-bottom-box li .projects-box-text {
  width: 25%;
  text-align: left;
  margin: auto;
}
.projects .projects-flex .projects-bottom-box li .projects-box-text h4 {
  font-family: "Sorts Mill Goudy";
  color: #FFD9DA;
  font-size: 4rem;
}

.contact {
  background-color: #171e28;
}
.contact h2 {
  padding: 100px 0 50px 0;
}
.contact button {
  margin: 20px;
}

.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-flex .contact-info-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.contact-flex .contact-info-flex li {
  margin: 20px 0;
}
.contact-flex .contact-info-flex a {
  text-decoration: none;
}
.contact-flex .contact-info-flex a:hover i, .contact-flex .contact-info-flex a:hover p, .contact-flex .contact-info-flex a:focus i, .contact-flex .contact-info-flex a:focus p,
.contact-flex .contact-info-flex a active i,
.contact-flex .contact-info-flex a active p {
  color: #99E1D9;
}
.contact-flex .contact-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-flex .flex-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-flex .flex-form li {
  width: 100%;
}
.contact-flex .flex-form li input, .contact-flex .flex-form li textarea {
  width: 100%;
}

footer {
  background-color: #222a35;
  text-align: center;
  margin: 10px;
}
footer p {
  color: #ececec;
  padding: 8px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  html, body {
    overflow-x: hidden;
  }

  header .header-flex {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header .header-flex .header-left-box {
    text-align: center;
    width: 100%;
    background-color: #222a35;
    border-radius: 20px;
    margin-bottom: 70px;
  }
  header .header-flex .header-left-box h1 {
    color: #FFD9DA;
  }
  header .header-flex .header-left-box .job-title {
    width: 100%;
    font-size: 3rem;
    border: 3px solid #222a35;
    border-radius: 20px;
    background-color: #FFD9DA;
    color: #222a35;
  }
}
@media (max-width: 768px) {
  .burger-menu-slide {
    display: block;
  }

  .nav-bar {
    display: none;
  }
}